.container.has-text-centered.footer
  p
    | Copyright &copy; 2020 SCIST. All Rights Reserved.
  p
    | Find us on
    a.is-text(href="https://www.facebook.com/scist.org" target="_blank")
      span.icon.is-medium.has-text-info
        i.mdi.mdi-facebook.mdi-18px
  p
    | Contact us
    a.is-text(href="mailto:official@scist.org" target="_blank")
      span.icon.is-medium.has-text-danger
        i.mdi.mdi-email-outline.mdi-18px
          
script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous")
script(src="static/scripts/main.js")
