title SCIST
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="author" content="CSY54")
meta(name="description" content="南臺灣高中生資訊社群 SCIST")
meta(property="og:title" content="SCIST")
meta(property="og:image" content="index.png")
meta(property="og:description" content="南臺灣高中生資訊社群 SCIST")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-config" content="static/favicon/browserconfig.xml")
meta(name="theme-color" content="#ffffff")
link(rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png")
link(rel="manifest" href="static/favicon/site.webmanifest")
link(rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5")
link(rel="shortcut icon" href="static/favicon/favicon.ico")
link(rel="stylesheet" type="text/css" href="static/style/main.css")
link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap")
link(rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css")
link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css")
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-166051932-1")
script.
  function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-166051932-1");
