section#aboutus.hero.is-medium
  .hero-body
    h2.title.has-text-centered 關於我們
    .columns.is-centered.text-only
      .column.is-half-desktop.is-two-thirds-tablet
        span
          | SCIST（Students' Community of Information in Southern Taiwan）是一群來自嘉義、台南、高雄三地的高中學生，經過許多活動以及比賽後深深感受到南北資訊能力以及資源的落差，我們希望透過 SCIST 舉辦的課程、研討會帶動南部學生的資訊能力水平，同時也帶來更多資源提供所有人進行學習！
