section#conference.hero.is-medium
  .hero-body
    h2.title.has-text-centered 研討會
    .columns.is-centered.text-only
      .column.is-half-desktop.is-two-thirds-tablet
        span 在課程之外，我們也舉辦大小研討會讓學員以及各界同好有一個自由討論學習的空間，並藉此接觸到在課程外更廣泛的領域。
