section#courses.hero.is-medium
  .hero-body
    h2.title.has-text-centered 課程內容
    .section
      .box
        .columns
          .column.is-one-quarter-tablet.is-flex.has-text-middle
            h3.is-4.subtitle.has-text-weight-bold 演算法
          .column.is-one-three-quarter-tablet
            .has-text-left
              span.content
                | 我們將會從基礎 C++ 語法開始帶起，慢慢進入到演算法的世界。
                br
                | 其中包括：
                ul.columns.is-multiline.is-gapless.has-ul-deco
                  li.column.is-half 資料結構
                  li.column.is-half 遞迴
                  li.column.is-half 排序
                  li.column.is-half 搜尋
                  li.column.is-half 貪心法
                  li.column.is-half STL
                  li.column.is-half 樹
                  li.column.is-half 動態規劃
                  li.column.is-half 圖論
                | 透過一天 8 小時的充足課程以及隔周的練習時間，目標是在課程結束後能在 APCS 檢定上獲得觀念至少 4 級分、實作至少 3 級分，我們也推薦學員參與 NPSC ，並將目標設定為進入決賽。
    .section
      .box
        .columns
          .column.is-one-quarter-tablet.is-flex.has-text-middle
            h3.is-4.subtitle.has-text-weight-bold 資訊安全
          .column.is-one-three-quarter-tablet
            .has-text-left
              span.content
                | SCIST 的資訊安全課程包含五大經典主題：
                ul.columns.is-gapless.is-multiline.has-ul-deco
                  li.column.is-half 網頁安全
                  li.column.is-half 密碼學
                  li.column.is-half PWN
                  li.column.is-half 逆向工程
                  li.column.is-half 數位鑑識
                | 期望在為期一年的課程中培養學員基本的資安技術能力，並鼓勵學員積極參與 MyFirstCTF 爭取名次，並以錄取 AIS3 Summer Camp 為目標。
                br
                | SCIST 將於 MyFirstCTF 前一週舉辦資安競賽，讓學員實際體驗賽中競速的刺激感和解題的樂趣，並檢驗學習成果。
